.test {
  width: 200px;
  height: 200px;
  background: black;
}
.jumbotron {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./main.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  margin-bottom: 30px;
}
.jumbotron h1,
.jumbotron p {
  margin-bottom: 20px;
  text-shadow: 4px 4px 4px black;
}

.product .product_wrap img {
  margin-bottom: 20px;
}

.product .product_wrap h4.title {
  font-weight: bold;
}
.product .product_wrap h4.price {
  font-style: italic;
}
.product .product_wrap p {
  font-style: italic;
}

.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
